<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Custom application settings for the services
      Each section has it's own header on the control panel and will then process the number of services
      listed under the numXXXXXServices key, each service key entry needs to have a unique key name-->
    <!-- numSerenaServices - the total number of services to list in the Serena services section -->
    <add key="numBaseServices" value="2" />
    <add key="base0" value="SNMPTRAP|SNMP Trap|base0" />
    <add key="base1" value="SCardSvr|Smart Card Service|base1" />
    <!-- numSystemServices - the total number of services to list in the Serena services section -->
    <add key="numONEServices" value="3" />
    <add key="one0" value="SNMPTRAP|SNMP Trap|one0" />
    <add key="one1" value="SCardSvr|Smart Card Service|one1" />
    <add key="one2" value="SCardSvr|Smart Card Service|one2" />
    <!-- numDemoServices - the total number of services to list in the Serena services section -->
    <add key="numARAServices" value="3" />
    <add key="ara0" value="SNMPTRAP|SNMP Trap|ara0" />
    <add key="ara1" value="SCardSvr|Smart Card Service|ara1" />
    <add key="ara2" value="SCardSvr|Smart Card Service|ara2" />
    <!--<add key="ara3" value="SCardSvr|Smart Card Service|ara3" />-->
    <!--<add key="ara3" value="SCardSvr|Smart Card Service|ara3" />-->
    <add key="numWSPServices" value="3" />
    <add key="wsp0" value="SCardSvr|Smart Card Service|ara0" />
    <add key="wsp1" value="SCardSvr|Smart Card Service|ara1" />
    <add key="wsp2" value="SCardSvr|Smart Card Service|ara2" />

    <add key="numWLSServices" value="6" />
    <add key="wls0" value="SCardSvr|Smart Card Service|wls0" />
    <add key="wls1" value="SCardSvr|Smart Card Service|wls1" />
    <add key="wls2" value="SCardSvr|Smart Card Service|wls2" />
    <add key="wls3" value="SCardSvr|Smart Card Service|wls3" />
    <add key="wls4" value="SCardSvr|Smart Card Service|wls4" />
    <add key="wls5" value="SCardSvr|Smart Card Service|wls5" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>